<!DOCTYPE html>
<html ng-app="PluginManager">
<head>
<meta charset="UTF-8">
<title>Gerrit Plugin Manager</title>
<script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="js/plugin-manager.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
<link href="css/style.css" rel="stylesheet">
</head>

<body role="document" ng-controller="LoadInstalledPlugins as plugins">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container top-header">
      <div class="navbar-header">
        <a class="navbar-brand">Gerrit Plugins</a>
      </div>
      <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control searchbox" placeholder="Search" ng-model="searchPlugin">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">&gt; Go to Gerrit</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container main" role="main">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Plugin Name</th>
            <th>Version</th>
            <th>Upgrade / New Version Available</th>
            <th>Latest Commit</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="prop in plugins.list | filter:searchPlugin">
            <td>{{prop.id}}</td>
            <td>{{prop.version}}</td>
            <td>{{prop.update_version}}</td>
            <td>{{prop.sha1}}</td>
            <td>
              <h5>
                <span id="installing-{{prop.id}}"
                  class="label label-default hidden">Installing</span>
                <span
                  id="installed-{{prop.id}}"
                  class="label label-success {{ (prop.version != '' && prop.update_version == '') ? '':'hidden' }}">Up to date</span>
                <span
                  id="failed-{{prop.id}}" class="label label-warning hidden">Failed</span>
                <button id="{{prop.id}}" type="button"
                  class="btn btn-xs btn-primary {{ (prop.version == '' && prop.update_version != undefined) ? '':'hidden' }}"
                  ng-click="install(prop.id,prop.url)">Install</button>
                <button id="{{prop.id}}" type="button"
                  class="btn btn-xs btn-primary {{ (prop.version != '' && prop.update_version != '') ? '':'hidden' }}"
                  ng-click="install(prop.id,prop.url)">Upgrade</button>
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
