.inprogress {
  background-image: url("../images/spinner-24px.gif");
  background-repeat: no-repeat;
  background-position-y: 7px;
}

.hidden {
  display: none;
}

h5 {
  margin: 0px;
}

td {
  height: 40px;
}

.main {
  margin-top: 51px;
}