.inprogress {
  background-image: url("../images/spinner-24px.gif");
  background-repeat: no-repeat;
  background-position-y: 7px;
}

.hidden {
  display: none;
}

h5 {
  margin: 0px;
}

td {
  height: 40px;
}

.main {
  margin-top: 51px;
}

button.btn-xs {
  width: 65px;
}

button.btn-sm {
  width: 83px;
}

.label-success {
  background-color: #888888;
}

div.top-header {
  padding-left: 35px;
  padding-right: 35px;
}

.navbar-form input.searchbox {
  width: 400px;
}